body {
    color: black;
    background: firebrick;
    margin: 2px;
} 

header {
 border-bottom: solid 2px darkred;
 padding: 50px;
 font-size: 35px;
 color:rgb(58, 5, 5);
}

section{
    background: rgb(139, 0, 0);
    padding: 70px;
    margin: 37px;
    display: flex;
    justify-content: center;
}
    
.chamada-texto {
    margin-right: 40%;
}